<mat-card class="card">
  <mat-card-title class="title">Relatório</mat-card-title>
  <form>
    <mat-form-field>
      <mat-label>Data Partida</mat-label>
      <mat-date-range-input [rangePicker]="campaignOnePicker">
        <input matStartDate placeholder="Start date" [matDatepicker]="startPicker"
          (dateInput)="startDateSelected($event)">
        <input matEndDate placeholder="End date" [matDatepicker]="endPicker" (dateInput)="endDateSelected($event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      <mat-datepicker #startPicker></mat-datepicker>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data Término</mat-label>
      <mat-date-range-input [rangePicker]="campaignTwoPicker">
        <input matStartDate placeholder="Start date" [matDatepicker]="startPicker2"
          (dateInput)="startTwoDateSelected($event)">
        <input matEndDate placeholder="End date" [matDatepicker]="endPicker2" (dateInput)="endTwoDateSelected($event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
      <mat-datepicker #startPicker2></mat-datepicker>
      <mat-datepicker #endPicker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Motorista" type="text" id="nameMotorista" name="nameMotorista">
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Placa" type="text" id="placaVehicle" name="placaVehicle">
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="primary">Gerar Relatório</button>
      <button mat-raised-button color="primary">Cancelar</button>
    </div>
  </form>
</mat-card>