<div class="container">
    <h2>Criar Reserva</h2>
    <form>
        <mat-form-field class="full-width">
            <input matInput placeholder="ID da Reserva" type="number" id="idReserva" name="idReserva">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Data e Hora da Reserva" type="datetime-local" id="dtHoraReserva"
                name="dtHoraReserva">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="ID do Motorista" type="number" id="idMotorista" name="idMotorista">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Nome do Motorista" type="text" id="nomeMotorista" name="nomeMotorista">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="ID do Veículo" type="number" id="idVeiculo" name="idVeiculo">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Solicitante da Reserva" type="text" id="solicitanteReserva"
                name="solicitanteReserva">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Rota" type="text" id="rota" name="rota">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Status da Reserva" type="text" id="statusReserva" name="statusReserva">
        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button color="primary">Salvar</button>
            <button mat-raised-button color="primary">Cancelar</button>
        </div>
    </form>
</div>