.card {
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
}

button{
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between; 
    margin-top: 16px; 
}
