<mat-card class="card">
  <mat-card-title class="title">Cadastro de Motorista</mat-card-title>
  <form>
    <mat-form-field class="full-width">
      <input matInput placeholder="ID do Motorista" type="number" id="idMotorista" name="idMotorista">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Nome do Motorista" type="text" id="nomeMotorista" name="nomeMotorista">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Número da CNH" type="text" id="numCNH" name="numCNH">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Categoria da CNH" type="text" id="categoriaCNH" name="categoriaCNH">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Setor" type="text" id="setor" name="setor">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Gerente" type="text" id="gerente" name="gerente">
    </mat-form-field>
    <a mat-fab color="primary">
      <mat-icon>image</mat-icon>
    </a>
  </form>
  
  <div class="buttons">
    <button mat-raised-button color="primary">Salvar</button>
    <button mat-raised-button color="primary">Cancelar</button>
  </div>
</mat-card>