@import '../../../styles.scss';

.card {
    display: flex;
}

.title {
    @include default-position-mat-title;
}

form {
    display: flex;
    flex-direction: column;
}

.buttons {
    @include default-buttons-form;
}