<!-- <mat-toolbar class="header">
    <div class="logo">
        <a routerLink="/">
            <img class="logo-img" src="../../../../assets/images/logo.png" alt="logo">
        </a>
    </div>

    <div class="options-header" >
        <a routerLink="/create-conta">
            Criar Conta
        </a>&nbsp;&nbsp;
        <a routerLink="/login">
            Login
        </a>&nbsp;&nbsp;
        <a routerLink="" matTooltip="Sair da conta">
            <i class="material-icons">
                logout
            </i>
        </a>
    </div>
</mat-toolbar> -->
<div class="main-content">
    <mat-toolbar class="header">
        <div class="logo">
            <a routerLink="/">
                <img class="logo-img" src="../../../../assets/images/logo.png" alt="logo">
            </a>
        </div>

        <div class="options-header" >
            <a routerLink="/create-conta">
                Criar Conta
            </a>&nbsp;&nbsp;
            <a routerLink="/login">
                Login
            </a>&nbsp;&nbsp;
            <a routerLink="" matTooltip="Sair da conta">
                <i class="material-icons">
                    logout
                </i>
            </a>
        </div>
    </mat-toolbar>
</div>






